<ul class="post-list">
  <% posts.each_with_index do |post, index| %>
    <li class=<%= (index % 2) == 0 ? "even" : "odd"%>>
      <article>
        <header>
          <h2>
            <a class="post-title" href="<%= post.path %>"><strong><%= post.title %></strong></a>
          </h2>
        </header>
        <section class="resume">
          <%= introduction post %>
        </section>
        <footer>
          <p class="date">
            Publicado em:
            <span class="date"><%= post.date %></span>
          </p>
        </footer>
      </article>
    </li>
  <% end %>
</ul>

