<ul class="post-list">
  <% posts.each_with_index do |post, index| %>
    <li class=<%= (index % 2) == 0 ? "even" : "odd"%>>
      <a class="post-title" href="<%= post.path %>"><p><strong><%= post.title %></strong></p></a>
      <section class="resume">
        <%= markdown post.body %>
      </section>
      <p class="date">
        Publicado em:
        <span class="date"><%= post.date %></span>
      </p>
    </li>
  <% end %>
</ul>

